@model TopLearn.Core.DTOs.NoteViewModel

<section class="list" data-scroll-section >
    <div class="listDnlNote wrapper">
        <div class="content-wrapper tab-content active productList">
            <form action="/Note" method="get" id="formFilter">
                <input type="hidden" id="pageId" name="pageId" value="@ViewBag.pageId.ToString()" />
                <input type="hidden" id="instrumentId" name="instrumentId" value="@ViewBag.instrumentId.ToString()" />

                <div class="listDnlNote wrapper">
                    <div class="maxWidth">
                        <div class="tab-wrapper row">                         

                            <div class="searchBox col-md-4">
                                <input class="searchInput" type="text" name="filter" placeholder="Search">
                                <button class="searchButton" href="#">
                                    جستجو
                                </button>
                            </div>

                        </div>
                    </div>


                    <div class="content-wrapper">
                        <div class="tab-content active">
                            <div class="productList">
                                @foreach (var item in Model.NoteViewModelItem.Item1)
                                {
                                    <a href="/Download/@item.NoteId" download style="color: darkgray">
                                        <div class="product-item">
                                            <img src="/SiteTemplate/img/handpan.png" alt="@item.InstrumentTitle" style="max-width: 100%; max-height: 150px">
                                            <div style="display: flex; justify-content: space-between;">
                                                <p class="product-item-p1"> @item.Title </p>
                                                <div class="product-item-p2">
                                                    <img src="SiteTemplate/img/IconDownload.svg" alt="download" title="دانلود نت">
                                                </div>
                                            </div>
                                            <p>@item.InstrumentTitle</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                @if (Model.NoteViewModelItem.Item2 > 1)
                {
                    <ul id="pagination">
                        @for (var i = 1; i <= (int)Model.NoteViewModelItem.Item2; i++)
                        {
                            <li><a class="@(ViewBag.pageId == i ? "active" : "")" onclick="filterNote(@i, null)" href="#">@i</a></li>
                        }
                    </ul>
                }
            </form>
        </div>
    </div>
</section>
