@model TopLearn.DataLayer.Entities.Course.StudentConcert

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model.StudentConcertImages
                        .Where(x => x.ImageName.Contains("mp3") == false && x.ImageName.Contains("mp4") == false))
            {
                <div class="swiper-slide" data-fancybox data-src="studentConcert/@item.ImageName" data-caption="@Model.Title">
                    <img src="/studentConcert/@item.ImageName" alt="@Model.Title" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@Model.Title</h3>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<section class="list" data-scroll-section>
    <div class="headSection">
        <h1 class="list-images__heading">
            @Model.Title
        </h1>
    </div>
</section>

<section data-scroll-section>
    <div class="text">
        @Html.Raw(Model.Description)
        <br />
        @foreach (var item in Model.StudentConcertImages.Where(x => x.ImageName.Contains("mp3")))
        {
            <audio controls>
                <source src="/studentConcert/@item.ImageName" type="audio/mpeg"> مرورگر شما از صوت پشتیبانی نمی‌کند.
            </audio>
        }

        @foreach (var item in Model.StudentConcertImages.Where(x => x.ImageName.Contains("mp4")))
        {
            <video width="320" height="240" controls>
                <source src="/studentConcert/@item.ImageName" type="video/mp4"> مرورگر شما از ویدیو پشتیبانی نمی‌کند.
            </video>
        }

    </div>
</section>

<section data-scroll-section>
    <div class="list-images">

        <div class="list-images__heading-box">

            <div class="lightbar">
                <div class="lightbar_line" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                </div>
                <div class="lightbar_cover"></div>
                <div class="lightbar_light" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%) translate(0px, -128px); opacity: 0.35;">
                </div>
            </div>
            <h1 class="list-images__heading">
                گالری
                <span class="list-images__heading-span">
                    تصاویر
                </span>

            </h1>
        </div>

        <div class="productList">
            @foreach (var item in Model.StudentConcertImages
            .Where(x => x.ImageName.Contains("mp3") == false && x.ImageName.Contains("mp4") == false))
            {
                <div class="product-item" data-fancybox data-src="studentConcert/@item.ImageName" data-caption="@Model.Title">
                    <img src="/studentConcert/@item.ImageName" style="width: 100%" alt="@Model.Title">
                </div>
            }

        </div>

    </div>

</section>

