@model TopLearn.Core.DTOs.ItemForIndexDto

<section class="hero" data-scroll-section>
    <video width="100%" height="auto" autoplay muted loop>
        <source src="SiteTemplate/img/hirovid.mp4" type="video/mp4">
    </video>

    <div class="divHero">
        <div class="titleHero">
            vahid
            <br />
            najafizadeh
        </div>

    </div>



    <div class="text" data-scroll data-scroll-speed=".5">
        <h2> SCROLL dOWN</h2>
        <span class="line"></span>
    </div>
</section>

<section data-scroll-section>
    <div class="imgOverlay"></div>
</section>

<section data-scroll-section class="textMain">
    <h4>پیشینه هنری</h4>
    <h5>
        نوازنده و مدرس پرکاشن(سازهای کوبه ای)
        <br>
        دارای کارت صلاحیت تدریس از وزارت فرهنگ و ارشاد
        <br>
        شروع فعالیت از سال 81
        <br>
        سابقه اجرا با گروه سنتی ، پاپ و ارکسترال
        <br>
        سابقه تدریس در آکادمی های موسیقی تهران و ارائه ورکشاپ سازهای کوبه ای در آکادمی های تهران
        <br>
        نویسنده و مولف کتاب کاخن
        <br>
        سرپرست گروه موسیقی هاوانا
        <br>
        برگزارکننده کنسرت های هاوانا با خواننده های پاپ و تلفیقی در سالن های کنسرت تهران
    </h5>
</section>

<br />
<section data-scroll-section class="imgCenter">
    <img src="SiteTemplate/img/Copilot_vahid.png" style="width: 45%;" alt="banner">
</section>

<br />

<section class="intro sliderNot" data-scroll-section>
    <section class="base-template">
        <div class="wrapper base-template__wrapper">

            <div class="base-template__content">
                <div class="horizontal-ticker">
                    <div id="horizontal-ticker-rtl" class="swiper horizontal-ticker__slider" style="height: 10rem">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Instruments)
                            {
                                <div class="swiper-slide horizontal-ticker__slide" style="width: 20rem">
                                    <a style="color: white" href="/Instrument?id=@item.InstrumentId">
                                        <img src="/instrument/@item.IconImage" alt="@item.InstrumentTitle" style="height: 100%" />
                                        <p>@item.InstrumentTitle</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="horizontal-ticker-ltr" class="swiper horizontal-ticker__slider">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Instruments)
                            {
                                <div class="swiper-slide horizontal-ticker__slide" style="width: 20rem">
                                    <img src="/instrument/@item.IconImage" alt="@item.InstrumentTitle" style="height: 100%" />
                                    <p>@item.InstrumentTitle</p>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>

<section class="intro TeamSec" data-scroll-section>
    <h1 class="titrSec base-template__title">
        Artistic Background
    </h1>

    <div class="base-template__text">
        Percussionist and Instructor
        <br>
        Has a teaching qualification card from the Ministry of Culture and Guidance
        <br>
        Started activity in 2002
        <br>
        Performance history with traditional, pop and orchestral groups
        <br>
        Teaching background in Tehran's musical instrument academies And presenting percussion workshops in
        Tehran's academies
        <br>
        "Author and instructor of the book "Cajon
        <br>
        Leader of the Havana's music Group
        <br>
        Organizer of Havana's concerts with pop and fusion singers in Tehran concert halls

    </div>
</section>

<section class="intro TeamSecT" data-scroll-section>

    <div class="why-us-cards">
        <div class="pair-cards why-us-s">
            <div class="pair-card-view s1"
                 style="transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                <div class="why-us-card s1">
                    <div class="why-us-trail-area"
                         style="transform: translate(0px, 0px);">
                        <div class="why-us-trail-flex down">
                            <div class="why-us-trail move-down">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg" loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg" loading="lazy" alt=""
                                             class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg" loading="lazy" alt=""
                                             class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg" loading="lazy" alt="" class="image-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="why-us-trail-flex">
                            <div class="why-us-trail move-up">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>

                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="why-us-trail-flex down">
                            <div class="why-us-trail move-down">
                                <div class="why-us-taril-cards">
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/conga_ostad.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/Untitled.jpeg"
                                             loading="lazy" alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad2.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                    <div class="why-us-taril-card">
                                        <img src="SiteTemplate/img/ostad3.jpeg" loading="lazy"
                                             alt="" class="image-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="why-us-move-css w-embed"></div>
                    </div>
                    <div class="why-us-inner-shadow"></div>
                </div>
            </div>
            <div class="pair-card-view s2"
                 style="opacity: 1; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <div why-us-avatars="" class="why-us-card s2">
                    <div class="why-us-avatars"
                         style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                        <div class="why-us-avatar-position s1 visible"
                             data-original-transform="matrix(0.866025, -0.5, 0.5, 0.866025, 0, 0)"
                             style="transform: scale(1) matrix(0.866025, -0.5, 0.5, 0.866025, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s2 visible"
                             data-original-transform="matrix(0.5, 0, 0, 0.5, 0, 0)"
                             style="transform: scale(1) matrix(0.5, 0, 0, 0.5, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s3 visible"
                             data-original-transform="matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0)"
                             style="transform: scale(1) matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s4 visible"
                             data-original-transform="matrix(0.5, 0, 0, 0.5, 0, 0)"
                             style="transform: scale(1) matrix(0.5, 0, 0, 0.5, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s5 visible"
                             data-original-transform="matrix(0.984808, 0.173648, -0.173648, 0.984808, 0, 0)"
                             style="transform: scale(1) matrix(0.984808, 0.173648, -0.173648, 0.984808, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s6 visible"
                             data-original-transform="matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, 0)"
                             style="transform: scale(1) matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s7 visible"
                             data-original-transform="matrix(0.5, 0, 0, 0.5, 0, 0)"
                             style="transform: scale(1) matrix(0.5, 0, 0, 0.5, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s8 visible"
                             data-original-transform="matrix(0.866025, -0.5, 0.5, 0.866025, 0, 0)"
                             style="transform: scale(1) matrix(0.866025, -0.5, 0.5, 0.866025, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s9 visible"
                             data-original-transform="matrix(0.5, 0, 0, 0.5, 0, 0)"
                             style="transform: scale(1) matrix(0.5, 0, 0, 0.5, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s10 visible"
                             data-original-transform="matrix(0.984808, -0.173648, 0.173648, 0.984808, 0, 0)"
                             style="transform: scale(1) matrix(0.984808, -0.173648, 0.173648, 0.984808, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s11 visible"
                             data-original-transform="matrix(0.984808, 0.173648, -0.173648, 0.984808, 0, 0)"
                             style="transform: scale(1) matrix(0.984808, 0.173648, -0.173648, 0.984808, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s12 visible"
                             data-original-transform="matrix(0.965926, 0.258819, -0.258819, 0.965926, 0, 0)"
                             style="transform: scale(1) matrix(0.965926, 0.258819, -0.258819, 0.965926, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s13 visible"
                             data-original-transform="matrix(0.906308, 0.422618, -0.422618, 0.906308, 0, 0)"
                             style="transform: scale(1) matrix(0.906308, 0.422618, -0.422618, 0.906308, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s14 visible"
                             data-original-transform="matrix(0.994522, -0.104528, 0.104528, 0.994522, 0, 0)"
                             style="transform: scale(1) matrix(0.994522, -0.104528, 0.104528, 0.994522, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s15 visible"
                             data-original-transform="matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, 0)"
                             style="transform: scale(1) matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s16 visible"
                             data-original-transform="matrix(0.5, 0, 0, 0.5, 0, 0)"
                             style="transform: scale(1) matrix(0.5, 0, 0, 0.5, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s17 visible"
                             data-original-transform="matrix(0.970296, 0.241922, -0.241922, 0.970296, 0, 0)"
                             style="transform: scale(1) matrix(0.970296, 0.241922, -0.241922, 0.970296, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/JEMA.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s18 visible"
                             data-original-transform="matrix(0.997564, 0.0697565, -0.0697565, 0.997564, 0, 0)"
                             style="transform: scale(1) matrix(0.997564, 0.0697565, -0.0697565, 0.997564, 0, 0);">
                            <div data-rotate="2" class="why-us-avatar">
                                <img src="SiteTemplate/img/cajon-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                        <div class="why-us-avatar-position s19 visible"
                             data-original-transform="matrix(0.994522, -0.104528, 0.104528, 0.994522, 0, 0)"
                             style="transform: scale(1) matrix(0.994522, -0.104528, 0.104528, 0.994522, 0, 0);">
                            <div data-rotate="1" class="why-us-avatar">
                                <img src="SiteTemplate/img/hangdrum-removebg-preview.png" loading="lazy"
                                     alt="" class="image-cover">
                            </div>
                        </div>
                    </div>
                    <div class="avarars-js w-embed w-script">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />

<section class="products" data-scroll-section>
    <div class="titrSec">
        <p>
            The academies
        </p>
    </div>
</section>

<section class="products" data-scroll-section>

    <div class="sliderMe">

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Academies)
                {
                    <div class="swiper-slide">
                        <div class="amozeshga">
                            <ul>
                                <li>
                                    <img src="/academy/@item.LogoImageName" alt="@item.AcademyTitle">
                                </li>
                                <li>
                                    <a class="titleAmozeshga" href="@item.Website" target="_blank">
                                        @item.AcademyTitle
                                    </a>
                                </li>
                                <li>
                                    <span class="TitleInner"> روزهای تدریس :</span>
                                    <span class="DescInner">
                                        @item.ActiveDays
                                    </span>
                                </li>
                                <li>
                                    <span class="TitleInner">
                                        آدرس :
                                    </span>
                                    <span class="DescInner">
                                        @item.Address
                                    </span>
                                </li>
                                <li>
                                    <span class="TitleInner">
                                        تلفن :
                                    </span>
                                    <span class="DescInner">
                                        @item.Phone
                                    </span>
                                </li>
                                <li>
                                    <span class="TitleInner">
                                        سازها :
                                    </span>
                                    <span class="DescInner">
                                        @item.LearningInstrument
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</section>


<section class="parket" data-scroll-section>
    <div style="text-align: center; width: auto; height: auto">
        <a href="/StudentConcert" style="color: white">
            <h3>STUDENT'S CONCERT</h3>
            <img src="/SiteTemplate/img/Havana-removebg-preview.png" alt="Havana" style="width: 40%"/>
        </a>
    </div>
    <div class="my-carousel bg-darker">
        <div class="swiper my-carousel__swiper swiper-rtl">
            <div class="swiper-wrapper">
              @foreach (var item in Model.StudentConcerts)
              {
                  <div class="swiper-slide">
                      <div class="swiper-card swiper-card--3">
                          <div>
                              <img src="/studentConcert/@item.StudentConcertImages.FirstOrDefault().ImageName" alt="@item.Title">
                              <p class="swiper-caption">@item.Title</p>
                          </div>
                      </div>
                  </div>
              }
            </div>
        </div>

        <div class="my-carousel__actions">
            <button class="btn btn--subtle my-carousel__control my-carousel__control--prev"> قبلی </button>
            <button class="btn btn--subtle my-carousel__control my-carousel__control--next"> بعدی </button>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cards",
            grabCursor: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            slidesPerView: 1.2, // یا مثلاً 1.1 یا 1.05
            spaceBetween: 20,
            centeredSlides: false
        });

    </script>

}
