@model TopLearn.DataLayer.Entities.Course.Product

<section data-scroll-section="" data-scroll-section-id="section0"
         style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -240, 0, 1); opacity: 1; pointer-events: all;" data-scroll-section-inview="">

    <br>
    <br>
    <br>
    <div class="home__container pdiSec grid">
        <div class="gallery">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.ProductImages)
                    {
                        <div class="swiper-slide" data-fancybox data-src="/course/@item.ProductImageName"
                        data-caption="@Model.CourseTitle">
                            <div class="swiper-slide-container">
                                <img src="/course/@item.ProductImageName" alt="@Model.CourseTitle">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.ProductImages)
                    {
                        <div class="swiper-slide">
                            <div class="swiper-slide-container">
                                <img src="/course/@item.ProductImageName" alt="@Model.CourseTitle">
                            </div>
                        </div>
                    }
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="home__data">
            <div class="home__header" data-sr-id="0" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.6s, transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0.6s;">
                <h2 class="ProductName">@Model.CourseTitle</h2>
            </div>
            <div class="home__footer" data-sr-id="5" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.7s, transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0.7s;">
                <p class="ProduuctDesc">
                    @Html.Raw(Model.CourseDescription)
                </p>
                <div class="catNameSec">
                    <div class="catName">@Model.CourseGroup.GroupTitle</div>
                    <div class="catName">@Model.Group.GroupTitle</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexDiv">
        <div class="payment">
            <span class="home__price">@Model.CoursePrice.ToString("N0") تومان </span>
        </div>
        <a href="">
            <span class="button--flex button--flexIn">
                همین حالا خرید کنید
            </span>
        </a>
    </div>

</section>
