@model TopLearn.DataLayer.Entities.Course.Student

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model.StudentImages)
            {
                <div class="swiper-slide" data-fancybox data-src="student/@item.ImageName" data-caption="@Model.StudentFullName">
                    <img src="/student/@item.ImageName" alt="@Model.StudentFullName" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@Model.StudentFullName</h3>
                    </div>
                </div>
            }
        </div>
        
        @if (Model.StudentImages.Count > 1)
        {
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        }
    </div>
</section>

<section class="list" data-scroll-section>
    <div class="headSection">
        <h1 class="list-images__heading" style="@(Model.StudentFullName.Length>14?"font-size: 2.4rem !important":"")">
            @Model.StudentFullName
        </h1>
    </div>
</section>

<section data-scroll-section>
    <div class="text">
        @Html.Raw(Model.Description)
    </div>
</section>

<section data-scroll-section>
    <div class="list-images">

        <div class="list-images__heading-box">

            <div class="lightbar">
                <div class="lightbar_line" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                </div>
                <div class="lightbar_cover"></div>
                <div class="lightbar_light" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%) translate(0px, -128px); opacity: 0.35;">
                </div>
            </div>
            <h1 class="list-images__heading">
                گالری
                <span class="list-images__heading-span">
                    تصاویر
                </span>

            </h1>
        </div>

        <div class="productList">
            @foreach (var item in Model.StudentImages)
            {
                <div class="product-item" data-fancybox data-src="student/@item.ImageName" data-caption="@Model.StudentFullName">
                    <img src="/student/@item.ImageName" style="width: 100%" alt="@Model.StudentFullName">
                </div>
            }

        </div>

    </div>

</section>
