@model List<TopLearn.DataLayer.Entities.Course.Academy>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide academy" data-title="@item.AcademyTitle" data-day="@item.ActiveDays" data-phone="@item.Phone"
                     data-site="@item.Website" data-address="@item.Address" data-instrument="@item.LearningInstrument" data-logo="@item.LogoImageName">
                    <img src="/academy/@item.LogoImageName" alt="@item.AcademyTitle" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.AcademyTitle</h3>
                        <p>@item.ActiveDays</p>
                    </div>
                </div>
            }
        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>


