@model List<TopLearn.DataLayer.Entities.Course.Academy>

<section data-scroll-section style="margin-top: 50px;margin-bottom: 50px">
    <div class="swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide" data-title="@item.AcademyTitle" data-day="@item.ActiveDays" data-phone="@item.Phone"
                     data-site="@item.Website" data-address="@item.Address" data-instrument="@item.LearningInstrument" data-logo="@item.LogoImageName">
                    <img src="/academy/@item.LogoImageName" alt="@item.AcademyTitle" />
                    <div class="slide-info" style="margin-top: 30px">
                        <h3>@item.AcademyTitle</h3>
                        <p>@item.ActiveDays</p>
                    </div>
                </div>
            }
        </div>

        <!-- دکمه‌های ناوبری -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

@*<section class="list" data-scroll-section>
    <div class="content-wrapper">
        <div class="tab-content active">
            <div class="productList">
                @foreach (var item in Model)
                {
                    <a href="@item.Website" target="_blank">
                        <div class="product-item">
                            <img src="/academy/@item.LogoImageName" alt="@item.AcademyTitle"
                                 style="max-width: 100%; max-height: 300px; background-color: white">
                            <div>
                                <p class="product-item-p1"> @item.AcademyTitle </p>
                                <p>
                                    روزهای تدریس:
                                    <span style="color: #999999">@item.ActiveDays</span>
                                </p>
                                <p>
                                    شماره تماس :
                                    <span style="color: #999999">@item.Phone</span>
                                </p>
                                <p>
                                    سازها :
                                    <span style="color: #999999">@item.LearningInstrument</span>
                                </p>
                                <p>
                                    آدرس :
                                    <span style="color: #999999">@item.Address</span>
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>

</section>*@

@section Styles
{

    <style>


        .swiper {
            width: 100%;
            padding: 40px 0 50px;
        }

        .swiper-slide {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

            .swiper-slide img {
                width: 100%;
                height: 200px; /* ارتفاع ثابت برای عکس */
                object-fit: contain;
                flex-shrink: 0;
                background: white;
                -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
            }

        .slide-info {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            height: auto; /* اجازه رشد با توجه به محتوا */
        }

            .slide-info h3 {
                font-size: 1.1rem;
                margin-bottom: 8px;
                color: white;
                word-wrap: break-word;
            }

            .slide-info p {
                font-size: 0.9rem;
                color: #aaaaaa;
                word-wrap: break-word;
            }

        .swiper-slide-active .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(28, 22, 37, 0.6);
            border-radius: inherit;
            opacity: 0;
            transition: all 0.4s linear;
        }

        .swiper-slide:hover .overlay {
            opacity: 1;
        }

        .swiper-slide .overlay ion-icon {
            opacity: 0;
        }

        .swiper-slide-active:hover .overlay ion-icon {
            font-size: 4rem;
            color: #eb0b0b;
            opacity: 1;
            cursor: pointer;
        }
    </style>

    <style>
        .list-images__heading {
            margin: 0;
            max-width: 22rem;
            font-family: "Oswald", sans-serif;
            font-size: 5rem;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            color: #aaa;
            text-align: left;
        }

            .list-images__heading span {
                color: white;
            }

        .listDnl.wrapper {
            margin: auto;
        }

        .listDnl .tab-wrapper {
            text-align: center;
            display: flex;
            margin: 0 auto;
            width: 100%;
        }

        .listDnl .tabs {
            padding: 0;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            margin: 0 auto;
        }

        .listDnl .tab-link {
            margin: 0;
            list-style: none;
            color: #aaa;
            cursor: pointer;
            font-weight: 700;
            transition: all ease 0.5s;
            border: solid 1px rgba(255, 255, 255, 0);
            width: auto;
            display: inline-flex;
            border-radius: 5em !important;
            font-size: 1rem;
            font-weight: 500;
            padding: 1em 2em;
            background-color: transparent;
            color: #fff;
            font-family: "IRANSans";
        }

            .listDnl .tab-link:hover {
                color: #999;
                border-color: #999;
            }

            .listDnl .tab-link.active {
                color: #333;
                border-color: #333;
            }

            .listDnl .tab-link.active {
                color: #ecc739;
                border-color: transparent;
                border-radius: 25px;
                overflow: hidden;
                inset: 0%;
                border: 3px solid #000;
                border-radius: 35px;
                box-shadow: inset 0 1px 2px 0 #585858, inset 0 1px 1px 0 #4E4F53;
            }


        .listDnl .content-wrapper {
            padding: 1rem 0;
        }

        .listDnl .tab-content {
            display: none;
            text-align: center;
            color: #888;
            font-weight: 300;
            font-size: 15px;
            opacity: 0;
            transform: translateY(15px);
            animation: fadeIn 0.8s ease 1 forwards;
        }

            .listDnl .tab-content.active {
                display: block;
            }

        @@keyframes fadeIn {
            100% {
                opacity: 1;
                transform: none;
            }
        }

        .listDnl ul {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5em;
            margin: 0 auto;
            margin-top: 1em;
            position: relative;
        }

        .listDnl li {
            list-style-type: none;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5em;
        }

            .listDnl li img {
                width: 100%;
                height: auto;
            }

        .mrgTop {
            margin-top: 8em;
        }

        .product-item-p2 img {
            width: 100%;
            height: auto;
        }

            .product-item-p2 img:hover {
                color: #fff;
            }

        .maxWidth {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 20px;
            padding: 0 6rem;
        }

        @@media (max-width:980px) {
            .listDnl .tab-wrapper {
                display: block;
            }

            .maxWidth {
                display: block;
                padding: 0 1rem;
            }

            .listDnl .tab-link {
                padding: 1em 1em;
                margin: 0 auto;
            }

            .listDnl ul {
                width: 100%;
            }

            .list-images__heading {
                margin: 1em auto;
                font-size: 3rem;
                text-align: center;
            }

        }
    </style>

    <style>
        .swiper {
            position: relative; /* برای موقعیت‌دهی مطلق دکمه‌ها */
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            /*top: 50%;*/ /* وسط عمودی */
            transform: translateY(-50%);
            z-index: 10;
            width: 40px;
            height: 40px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            color: #333;
        }

        /* موقعیت افقی */
        .swiper-button-prev {
            left: -20px;
        }

        .swiper-button-next {
            right: -20px;
        }

        /* در حالت موبایل هم حفظ شود */
        @@media (max-width: 768px) {
            .swiper-button-prev,
            .swiper-button-next {
                left: 50px;
                right: 50px;
            }
        }

    </style>
}
@section Scripts
{
    <script src="SiteTemplate/js/swiper-bundleList.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper",
            {
                effect: "coverflow",
                centeredSlides: true,
                slidesPerView: "auto",
                grabCursor: true,
                spaceBetween: 40,
                coverflowEffect: {
                    rotate: 25,
                    stretch: 0,
                    depth: 50,
                    modifier: 1,
                    slideShadows: false,
                    theme:'dark'
                },
                autoplay: {
                    delay: 3000, 
                    disableOnInteraction: false
                },
                loop: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            });

        document.querySelectorAll(".swiper-slide").forEach(slide => {
            slide.addEventListener("click", () => {
                var title = slide.getAttribute("data-title");
                var phone = slide.getAttribute("data-phone");
                var address = slide.getAttribute("data-address");
                var instrument = slide.getAttribute("data-instrument");
                var logo = slide.getAttribute("data-logo");
                var day = slide.getAttribute("data-day");
                var site = slide.getAttribute("data-site");

                Swal.fire({
                    title: `${title}`,
                    imageUrl: `academy/${logo}`,
                    html: `<p>روزهای تدریس :<span style="color:darkslategrey"> ${day}</span></p>
                         <p>تلفن :<span style="color: darkslategrey"> ${phone}</span</p>
                         <p>سازها :<span style="color: darkslategrey"> ${instrument}</span></p>
                        <p>آدرس :<span style="color: darkslategrey"> ${address}</span></p>`,
                    confirmButtonText: "وبسایت آموزشگاه",
                    showCancelButton: false,
                    showCloseButton: true,
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: "Custom image",
                    position: "top",
                    customClass: {
                        popup: 'swal2-dark'
                    }
                }).then(res => {
                    if (res.isConfirmed && site) {
                        window.open(site, "_blank");
                    }
                });
            });
        });


    </script>

}

