@model List<TopLearn.DataLayer.Entities.Course.StudentConcert>


<section data-scroll-section>
    <div class="headSection">
        <div class="lightbar">
            <div class="lightbar_line" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
            </div>
            <div class="lightbar_cover"></div>
            <div class="lightbar_light" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%) translate(0px, -128px); opacity: 0.35;">
            </div>
        </div>
        <h1 class="list-images__heading">
            Concert's
            <span class="list-images__heading-span">
                list
            </span>
        </h1>
    </div>
    <div class="list-images__heading-box"></div>
    <div class="list-images"></div>
</section>

<section data-scroll-section>

    <div class="listSection">
        @foreach (var item in Model)
        {
                <div class="list_item">
                    <div class="list_item_inner">
                        <a href="/StudentConcertInfo?id=@item.StudentConcertId">
                            <div class="list_item_img">
                                <img src="/studentConcert/@item.StudentConcertImages.FirstOrDefault().ImageName" alt="@item.Title">
                            </div>
                            <div class="list_item_text">
                                <div class="text_size">@item.Title</div>
                                <div class="list_item_hover"> @item.ConcertDate </div>
                            </div>
                        </a>
                    </div>
                </div>
        }
    </div>

</section>

@section Styles
{
    <style>

        @@keyframes slidein {
            0%,
            100% {
                background-position: 20% 0%;
                background-size: 3400px;
            }

            50% {
                background-position: 100% 0%;
                background-size: 2400px;
            }
        }

        .album-cover {
            width: 90%;
            margin: 7em auto;
            margin-bottom: 2em;
        }

        .swiper {
            width: 100%;
            padding: 40px 0 100px;
        }

        .swiper-slide {
            position: relative;
            max-width: 200px;
            aspect-ratio: 1/1;
            border-radius: 10px;
        }

            .swiper-slide img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
                border: 1px solid #676767;
                pointer-events: none;
                user-select: none;
            }

        .swiper-slide-active .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(28, 22, 37, 0.6);
            border-radius: inherit;
            opacity: 0;
            transition: all 0.4s linear;
        }

        .swiper-slide:hover .overlay {
            opacity: 1;
        }

        .swiper-slide .overlay ion-icon {
            opacity: 0;
        }

        .swiper-slide-active:hover .overlay ion-icon {
            font-size: 4rem;
            color: #eb0b0b;
            opacity: 1;
            cursor: pointer;
        }

        /* Music Player */

        .music-player {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--primary-clr);
            width: 380px;
            padding: 10px 30px;
            border-radius: 20px;
            margin: 0 auto;
        }

            .music-player h1 {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.6;
            }

            .music-player p {
                font-size: 1rem;
                font-weight: 400;
                opacity: 0.6;
            }

        /* Music Player Progress */

        #progress {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 7px;
            background: rgba(163, 162, 164, 0.4);
            border-radius: 4px;
            margin: 32px 0 24px;
            cursor: pointer;
        }

            #progress::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                background: rgba(163, 162, 164, 0.9);
                width: 16px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                outline: 4px solid var(--primary-clr);
                box-shadow: 0 6px 10px rgba(5, 36, 28, 0.3);
            }

        /* Music Player Controls */

        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .controls button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                aspect-ratio: 1/1;
                margin: 20px;
                background: rgba(163, 162, 164, 0.3);
                color: var(--primary-clr);
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.3);
                outline: 0;
                font-size: 1.1rem;
                box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
                cursor: pointer;
                transition: all 0.3s linear;
            }

                .controls button:is(:hover, :focus-visible) {
                    transform: scale(0.96);
                }

                .controls button:nth-child(2) {
                    transform: scale(1.3);
                }

                    .controls button:nth-child(2):is(:hover, :focus-visible) {
                        transform: scale(1.25);
                    }

        .list-images {
            display: flex;
            flex-direction: column;
            gap: 85px;
            padding: 85px 0 3rem;
        }

        #pagination {
            margin: 0;
            padding: 0;
            text-align: center;
            margin-bottom: 5em;
            margin-top: 6em;
        }

            #pagination li {
                display: inline
            }

                #pagination li a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 5px 1rem;
                    color: #fff;
                }

                #pagination li a {
                    border-radius: 25px;
                    border: 3px solid transparent;
                    border-radius: 35px;
                    -webkit-transition: background-color 0.3s;
                    transition: background-color 0.3s
                }

                    #pagination li a.active {
                        color: #ecc739
                    }

                    #pagination li a:hover:not(.active) {
                        border: 3px solid #000;
                        border-radius: 35px;
                        box-shadow: inset 0 1px 2px 0 #585858, inset 0 1px 1px 0 #4E4F53;
                        text-shadow: 0 1px 3px #86C4F9;
                    }

        .b-pagination-outer {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            display: flex
        }

        #border-pagination {
            margin: 0 auto;
            padding: 0;
            text-align: center
        }

            #border-pagination li {
                display: inline;
            }

                #border-pagination li a {
                    display: block;
                    text-decoration: none;
                    color: #000;
                    padding: 5px 10px;
                    border: 1px solid #ddd;
                    float: left;
                }

                #border-pagination li a {
                    -webkit-transition: background-color 0.4s;
                    transition: background-color 0.4s
                }

                    #border-pagination li a.active {
                        color: #ecc739;
                        text-shadow: 0 1px 3px #ecc739;
                    }

                    #border-pagination li a:hover:not(.active) {
                        border: 3px solid #000;
                        border-radius: 35px;
                        box-shadow: inset 0 1px 2px 0 #585858, inset 0 1px 1px 0 #4E4F53;
                        text-shadow: 0 1px 3px #86C4F9;
                    }

        /* .... */
        .lightbar_line {
            background-color: #dde4b6;
            width: 5rem;
            height: 1.5px;
        }

        .lightbar_cover {
            z-index: -1;
            filter: blur(1rem);
            background-color: #0c0c0d;
            height: auto;
            position: absolute;
            inset: -8.5rem 0% auto;
        }

        .lightbar_light {
            z-index: -2;
            opacity: .35;
            filter: blur(10rem);
            background-color: #f7ffd1c1;
            border-radius: 100%;
            /* width: 35rem; */
            width: 51%;
            height: 18rem;
            position: absolute;
            inset: 0% 0% 0% 50%;
            transform: translate(-50%, -40%);
            margin: 0 auto;
        }

        .lightbar {
            pointer-events: none;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 14rem;
            padding-top: 3.5rem;
            display: flex;
            position: absolute;
            inset: 0% 0% auto;
        }

        .container {
            width: 100%;
        }

        .grid-container {
            display: grid;
        }

        @@media (min-width: 48rem) {
            .grid-container {
                -moz-column-gap: var(--container-grid-gap);
                column-gap: var(--container-grid-gap);
                grid-template-columns: repeat(12, 1fr);
            }
        }

        li {
            list-style-type: none;
        }

        a {
            color: #fff;
        }

        .concertList li {
            border-bottom: 1px solid #373737;
        }

            .concertList li:hover {
                border-bottom: 1px solid #fff;
            }

        @@media (min-width:48rem) {
            .text-regular {
                font-size: 1rem;
            }

            .title-medium {
                font-size: 9.375rem;
            }
        }

        .relative {
            position: relative;
        }

        .block {
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .h-full {
            height: 100%;
        }

        .w-full {
            width: 100%;
        }

        .flex {
            display: flex;
        }

        .items-end {
            align-items: flex-end;
            overflow: hidden;
        }

        .items-baseline {
            align-items: baseline;
        }

        .overflow-hidden {
            overflow: hidden;
        }

        .border-b {
            border-bottom-width: 1px;
        }


        .tracking-0 {
            letter-spacing: 0;
        }

        .opacity-30 {
            opacity: .3;
        }




        @@media (min-width:48rem) {

            .image.block {
                grid-column: span 2 / span 2;
                height: 100%;
                position: relative;
                bottom: 1em;
            }

            .textHover {
                grid-column: span 9 / span 9;
            }
        }



        .titleListConsert {
            display: inline-block;
            height: 104px;
            overflow: hidden;
            position: relative;
            text-align: right;
            color: white;
            border-radius: 2px;
            transition: 0.3s;
            font-size: 2rem;
        }


        .label-up {
            display: block;
            margin: 0px 10px;
            height: 100%;
            position: relative;
            top: 0%;
            transition: 0.3s;
        }

        /* .block:hover .label-up {
            top: -100%;
        }*/


        .label-down {
            display: block;
            margin: 0px 30px;
            height: 100%;
            position: relative;
            top: -100%;
            transition: 0.3s;
        }

        /* .block:hover .label-down {
            top: 0%;
        }*/

        .block img {
            filter: unset;
            transition: all 1000ms;
            width: 100%;
            height: 140px;
        }

        /*  .block:hover {
            color: #fff;
        }*/

        .block:hover img {
            filter: brightness(125%);
            translate: none;
            rotate: none;
            scale: none;
            transform: scale(1.12, 1.12);
            transition: all 1000ms;
        }

        .items-end {
            padding: 2em;
            padding-bottom: 0;
        }

        .textDesc {
            font-size: 0.85rem;
            transition: all .5s;
            bottom: 1.1em;
            margin-right: 2.3em;
            position: relative;
            color: #a3a3a3;
        }

        /* .block:hover .textDesc {
            bottom: -10px;
            transition: all .5s;
        }*/

        .block .textHover {
            bottom: -5px;
            position: relative;
            transition: all .5s;
        }

        /*  .block:hover .textHover {
            bottom: 3em;
            transition: all .5s;
        }*/

        .date {
            position: relative;
            bottom: 1.5em;
        }

        @@media (max-width: 48rem) {
            .items-end {
                padding: 1em;
                overflow: hidden;
            }

            .titleListConsert {
                height: auto;
                font-size: 1.4rem;
            }

            .textDesc {
                margin-right: 0;
                text-align: center;
            }

            .date {
                position: relative;
                bottom: 0;
            }

            .text-regular {
                margin: 0 auto;
            }
        }

        .list-images__heading {
            text-align: center;
            text-transform: uppercase;
        }

        .concertList {
            /*margin-top: 5em;*/
        }

        .textFa {
            font-size: 3rem;
        }

        /*  .block:hover .textFa {
            display: block;
            margin-top: .7em;
        }*/

        @@media screen and (max-width: 768px) {
            .havanaLogo {
                width: 90%;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    </style>


    <style>
     /*   header .mainMenu .bgs > div {
            background-color: var(--dark--50-opacity);
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        }*/

        /* ... */

        .list-images {
            display: flex;
            flex-direction: column;
            gap: 85px;
            padding: 0 0 3rem;
        }

        #pagination {
            padding: 0;
            text-align: center;
            margin: 0;
            margin-top: 3em;
            border: 1px solid #ffffff1c;
            border-right: unset;
            border-left: unset;
            background-color: #eeeeee03;
        }

            #pagination li {
                display: inline
            }

                #pagination li a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 5px 1rem;
                    color: #fff;
                }

                #pagination li a {
                    border-radius: 25px;
                    border: 3px solid transparent;
                    border-radius: 35px;
                    -webkit-transition: background-color 0.3s;
                    transition: background-color 0.3s
                }

                    #pagination li a.active {
                        color: #ecc739
                    }

                    #pagination li a:hover:not(.active) {
                        border: 3px solid #000;
                        border-radius: 35px;
                        box-shadow: inset 0 1px 2px 0 #585858, inset 0 1px 1px 0 #4E4F53;
                        text-shadow: 0 1px 3px #86C4F9;
                    }

        .b-pagination-outer {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            display: flex
        }

        #border-pagination {
            margin: 0 auto;
            padding: 0;
            text-align: center
        }

            #border-pagination li {
                display: inline;
            }

                #border-pagination li a {
                    display: block;
                    text-decoration: none;
                    color: #000;
                    padding: 5px 10px;
                    border: 1px solid #ddd;
                    float: left;
                }

                #border-pagination li a {
                    -webkit-transition: background-color 0.4s;
                    transition: background-color 0.4s
                }

                    #border-pagination li a.active {
                        color: #ecc739;
                        text-shadow: 0 1px 3px #ecc739;
                    }

                    #border-pagination li a:hover:not(.active) {
                        border: 3px solid #000;
                        border-radius: 35px;
                        box-shadow: inset 0 1px 2px 0 #585858, inset 0 1px 1px 0 #4E4F53;
                        text-shadow: 0 1px 3px #86C4F9;
                    }

        /* .... */
        .lightbar_line {
            background-color: #dde4b6;
            width: 5rem;
            height: 1.5px;
            margin-top: 2.5em;
        }

        .lightbar_cover {
            z-index: -1;
            filter: blur(1rem);
            background-color: #0c0c0d;
            height: auto;
            position: absolute;
            inset: -8.5rem 0% auto;
        }

        .lightbar_light {
            z-index: -2;
            opacity: .35;
            filter: blur(10rem);
            background-color: #f7ffd1c1;
            border-radius: 100%;
            width: 51%;
            height: 18rem;
            position: absolute;
            inset: 0% 0% 0% 50%;
            transform: translate(-50%, -40%);
            margin: 0 auto;
        }

        .lightbar {
            pointer-events: none;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 14rem;
            padding-top: 3.5rem;
            display: flex;
            position: absolute;
            inset: 0% 0% auto;
        }


        .textMain {
            margin: 2vh auto;
            margin-bottom: 5vh;
        }


        .headSection {
            text-align: center;
        }

        body {
            padding-top: 8em;
        }

        h1 {
            font-size: 4.5rem;
            color: #faffda;
            text-transform: uppercase;
            font-family: "BebasNeue";
        }


        .list_item img {
            vertical-align: middle;
            max-width: 100%;
            display: inline-block;
        }

        .w-embed:before,
        .w-embed:after {
            content: " ";
            grid-area: 1/1/2/2;
            display: table;
        }

        .w-embed:after {
            clear: both;
        }

        .list_item img {
            object-fit: cover;
            width: 100%;
            max-width: 100%;
            height: 100%;
            display: inline-block;
        }

        .text_size {
            font-size: 0.85em;
            flex: none;
            text-transform: uppercase;
        }

        .list_item_inner {
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            cursor: pointer;
            flex-flow: column;
            width: 100%;
            display: flex;
        }

        .list_item_img {
            border: 1px solid #fafafa1c;
            border-radius: 2px;
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
        }

        .list_item_text {
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            display: flex;
        }

        .work_embed {
            z-index: 1;
            width: 100%;
            height: 101%;
            position: absolute;
            inset: 0%;
        }

        .list_item_inner-img {
            pointer-events: none;
            position: absolute;
            inset: 0%;
        }

        .list_item_hover {
            text-align: right;
            text-transform: uppercase;
            font-size: 0.75em;
            flex: none;
        }

        .list_item {
            flex: 0 auto;
            width: 100%;
            padding-left: 0.625em;
            padding-right: 0.625em;
        }

        .listSection {
            grid-column-gap: 0em;
            grid-row-gap: 0em;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            max-width: 1800px;
            height: 49vh;
            margin-left: auto;
            margin-right: auto;
            padding-left: 4.375em;
            padding-right: 4.375em;
            display: flex;
        }

        @@media screen and (max-width: 991px) {
            .list_item_text {
                grid-column-gap: 0em;
                grid-row-gap: 0em;
                flex-flow: column;
                justify-content: flex-start;
            }

            .listSection {
                padding-left: 3em;
                padding-right: 3em;
            }
        }

        @@media screen and (max-width: 767px) {
            .listSection {
                padding-left: 1.25em;
                padding-right: 1.25em;
            }
        }

        @@media (min-width: 991px) {
            .work_embed {
                opacity: 0;
                transition: opacity 0.1s;
            }

            .list_item_inner:hover .work_embed {
                opacity: 1;
            }

            .list_item {
                transform: translate3d(0, 0, 0);
                transition: width 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            }

                .list_item:hover {
                    width: 280%;
                }

                .list_item .text_size {
                    opacity: 0.6;
                    transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
                }

                .list_item:hover .text_size {
                    opacity: 1;
                }

                .list_item .list_item_hover {
                    opacity: 0;
                    transform: translateX(-2em);
                    transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1), transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
                }

                .list_item:hover .list_item_hover {
                    opacity: 1;
                    transform: translateX(0);
                }
        }

        @@media (max-width: 992px) {
            .list_item_text {
                transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
            }

            .list_item_img {
                transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }

        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .text {
            color: #fafafa99;
            font-size: 1rem;
            width: 26%;
            margin: 0 auto;
            text-align: center;
            line-height: 28px;
        }

        .list_item:hover .list_item_img {
            height: 410px;
        }

        .social img {
            width: 20px;
        }


        .search {
            position: relative;
            top: 50%;
            width: 33%;
            margin: 0 auto;
            border: 1px solid #ffffff57;
            height: 52px;
            border-radius: 2px;
            padding: 0 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .search:hover > .search-txt {
                color: wheat;
            }

        .search-btn {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-txt {
            border: none;
            background: none;
            outline: none;
            padding: 0;
            color: wheat;
            font-size: 16px;
            transition: ease-in 0.4s;
            line-height: 40px;
        }

        .fas fa-search {
            font-weight: 200;
            font-size: 40px;
        }


        @@media (max-width:980px) {
            .search {
                width: 85%;
            }

            .listSection {
                margin-top: 2em;
                display: block;
                height: auto;
            }

            .list_item {
                margin-bottom: 2em;
            }

            .text_size {
                font-size: 1.25em;
                margin-bottom: .3em;
            }

            .list_item_hover {
                font-size: 0.85em;
                color: #b1b1b1;
            }

            footer.footer1 {
                min-height: auto;
            }
        }
    </style>
}

@section Scripts
{
    <script src="SiteTemplate/js/swiper-bundle.min.js"></script>
    <script>
            var progress = document.getElementById("progress");
            var song = document.getElementById("song");
            var controlIcon = document.getElementById("controlIcon");
            var playPauseButton = document.querySelector(".play-pause-btn");
            var nextButton = document.querySelector(".controls button.forward");
            var prevButton = document.querySelector(".controls button.backward");
            var songName = document.querySelector(".music-player h1");
            var artistName = document.querySelector(".music-player p");

            var songs = [
                @if (Model != null)
        {
            @foreach (var item in Model)
            {
                // ساخت یک شیء جاوااسکریپت برای هر آیتم در مدل
                <text>
                    {
                        title: "@Html.Raw(item.Title)",
                        name: "@Html.Raw(item.ConcertDate)",
                        source: ""
                    },
                </text>
            }
        }
            ];

            var currentSongIndex = 3;

            function updateSongInfo() {
                songName.textContent = songs[currentSongIndex].title;
                artistName.textContent = songs[currentSongIndex].name;
                song.src = songs[currentSongIndex].source;

                song.addEventListener("loadeddata", () => { });
            }

            song.addEventListener("timeupdate", () => {
                if (!song.paused) {
                    progress.value = song.currentTime;
                }
            });

            song.addEventListener("loadedmetadata", () => {
                progress.max = song.duration;
                progress.value = song.currentTime;
            });

            song.addEventListener("ended", () => {
                currentSongIndex = (swiper.activeIndex + 1) % songs.length;
                updateSongInfo();
                swiper.slideTo(currentSongIndex);
                playSong();
            });

            function pauseSong() {
                song.pause();
                controlIcon.classList.remove("fa-pause");
                controlIcon.classList.add("fa-play");
            }

            function playSong() {
                song.play();
                controlIcon.classList.add("fa-pause");
                controlIcon.classList.remove("fa-play");
            }

            function playPause() {
                if (song.paused) {
                    playSong();
                } else {
                    pauseSong();
                }
            }

            playPauseButton.addEventListener("click", playPause);

            progress.addEventListener("input", () => {
                song.currentTime = progress.value;
            });

            progress.addEventListener("change", () => {
                playSong();
            });

            nextButton.addEventListener("click", () => {
                currentSongIndex = (currentSongIndex + 1) % songs.length;
                updateSongInfo();
                playPause();
            });

            prevButton.addEventListener("click", () => {
                currentSongIndex = (currentSongIndex - 1 + songs.length) % songs.length;
                updateSongInfo();
                playPause();
            });

            updateSongInfo();

            var swiper = new Swiper(".swiper", {
                effect: "coverflow",
                centeredSlides: true,
                initialSlide: 3,
                slidesPerView: "auto",
                grabCursor: true,
                spaceBetween: 40,
                coverflowEffect: {
                    rotate: 25,
                    stretch: 0,
                    depth: 50,
                    modifier: 1,
                    slideShadows: false,
                },
                navigation: {
                    nextEl: ".forward",
                    prevEl: ".backward",
                },
            });

            swiper.on("slideChange", () => {
                currentSongIndex = swiper.activeIndex;
                updateSongInfo();
                playPause();
            });
    </script>
}
